/*
Problems:
- Applying flexbox column on body did not take up the whole page's height. Fixed by using min-height: 100vh on body, but introduced a different problem where scrollbars are introduced on smaller screens.
- Content in each section is unresponsive as the padding used to center content is hardcoded. This could be remedied with relative units/percentages. 
- Widths and heights are hardcoded causing text overflow among other issues. Could be fixed by only setting max-widths and min-heights and nothing else.
*/

* {
    font-family: 'Roboto', sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

.section-1,
.section-3 {
    padding: 0 300px;
}

/* First section */
.section-1 {
    background-color: #1F2937;
    color: white;
    flex: auto;
    height: 600px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin-left: auto;
}

.header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

/* Introduction */
.introduction {
    display: flex;
    gap: 32px;
}

.introduction .text {
    flex: 1;
}

.introduction .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.introduction .text p {
    font-size: 18px;
    color: #E5E7EB
}

.introduction .text button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 10px;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 900;
}

.introduction img {
    flex: 1;
    background-color:gray;
    text-align: center;
}

/* Second section */
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex: auto;
    height: 500px;
}

.section-2 h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.information {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.information p {
    font-size: 16px;
    color: #1F2937
}

.information div {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align:center;
}

.information div img {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 20px;
}

/* Third section */
.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex: auto;
    height: 500px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .attribution {
    font-size: 20px;
    font-weight: 900;
    color: #1F2937;
    margin-left: auto;
    margin-right: 60px;
}

/* Fourth section */
.section-4 {
    background-color: #FFFFFF;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.pop-up {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 20px 100px;
    max-height: 120px;
}

.pop-up .text h3 {
    font-size: 18px;
    color: #F9FAF8;
}

.pop-up .text p {
    font-size: 16px;
    color: #E5E7EB
}

.pop-up button {
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 900;
}

/* Footer */
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
