* {
    font-family: 'Roboto', 'Courier', sans-serif;
}

/* First section */
.section-1 {
    background-color: #1F2937;
}

/* Second section*/
.section-2 {
    background-color: #FFFFFF;
}

/* Third section */
.section-3 {
    background-color: #E5E7EB;
}

/* Fourth section */
.section-4 {
    background-color: #FFFFFF;
}

/* Footer */
.footer {
    background-color: #1F2937;
}
